@import "./../../scss/variables";

.item {
    background: antiquewhite;
    height: 400px;
    width: 200px;
    position: relative;
    padding: 5px;

    &__colors {
        width: 55px;
    }

    &__title {
        font-size: 20px;
        font-weight: bold;
    }

    &__description {
        margin: 5px 0 10px;
    }

    &__buy {
        position: absolute;
        bottom: 5px;
        margin: 0 0;
        left: 5px;
        background-color: $light-green;
    }
}

.item__color {
    display: flex;
    gap: 5px;
    justify-content: center;
    padding: 10px 0;


}

.active {
    background-color: $black;
}